.login-page,
.profil-page {
  margin: 80px auto 0;
  max-width: 1200px;
} //end login-page

.login___log-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  //background-color: $color-2;// a retirer
  @media screen and(max-width: 885px) {
    grid-template-columns: 1fr;
  }
}

.login__img-container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  background-color: white;

  img {
    max-height: 350px;

    @media screen and(max-width: 885px) {
      display: none;
    }
  }
}
